html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 50px;
	font-size: 16px;
}
header {
	background: black;
}
.help {
	margin : 40px;
	margin-bottom: 0;
	border: 1px solid #f1f1f1;
}

section {
	padding: 10px;
}

.sell {
	margin: 25px;
}

footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
//	height: 40px;
	width: 100%;
	background: #696969;
	color: white;
}
.searchInput {
	border-color: black;
	background-image: url("search-icon.png");
	background-size:25px 15px;
	background-repeat: no-repeat;
	text-indent: 24px;
}

.searchForm {
	display : inline-block;
	vertical-align: middle;
	float: right;
	padding-right: 2%;
}

nav {
	display : inline-block;
	vertical-align: middle;
	float: right;
	text-align: right;
}

nav li {
	display: inline-block;
	margin-right: 30px;
	color: white;
}

nav ul {
	liste-style-type: none;
}

.title {
	display : inline-block;
	vertical-align: middle;
	color: white;
	padding-left: 2%;
}

table {
	font-size: 14px;
//	border-collapse: collapse;
	border-spacing: 0;
	margin-left: 2%;
	margin-right: 2%;
}

td {
	border-bottom: 1px solid #f1f1f1;
	padding: 10px;
	text-align : center;
}

.hot {
	border: 1px solid #f1f1f1;
	border-bottom: 0;
}

.next {
	margin-top: 10px;
}

.description {
	text-align : justify;
}

.viewSell {
	text-align : right;
}

.user {
	color: #6666ff;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a.titleA:link { color: white; }
a.titleA:visited { color: white; }
a.titleA:active { color: white; }
a.titleA:hover { color: white; }

a.menu:link { color: white; }
a.menu:visited { color: white; }
a.menu:active { color: white; }
a.menu:hover { color: white; }