html {
	position: relative;
	min-height: 100%;
	min-width: 940px;
}

body {
	margin: 0 0 50px;
	font-size: 14px;
	font-family:"Verdana", Geneva, san-serif;
	background-color: #f1f1f1;
}

a {
	text-decoration: none;
}

header {
	background: black;
	font-weight: bold;
	color: white;
	overflow: hidden;
}

header a:link { color: white; }
header a:visited { color: white; }
header a:active { color: white; }
header a:hover { background-color: #505050; }

.content { width : 80%; margin: auto}

.title {
	position: relative;
	float: left;
}

nav {
	position: relative;
	float: right;
}

nav li {
	display: inline-block;
	margin-right: 30px;
}

nav ul {
	liste-style-type: none;
}

header input {
	border: 0;
	background-image: url("search-icon.png");
	background-size:25px 15px;
	background-repeat: no-repeat;
	text-indent: 24px;
}

header form {
	position: relative;
	float: right;
}

.help {
	margin-top : 40px;
	margin-bottom: 0;
//	padding: 10px;
	border-radius: 5px;
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
}

section {
//	padding: 10px;
	width: 80%;
	margin: auto;
}

.sell {
	margin: 25px 0 25px 0;
}

footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
//	height: 40px;
	width: 100%;
	background: #696969;
	color: white;
	text-align: center;
}

.mainTable {
	font-size: 14px;
	border-spacing: 0;
	background-color: white;
}

.mainTd {
	border-bottom: 1px solid #f1f1f1;
	text-align : center;
	padding: 10px;
}

thead {
	background-color: #f1f1f1;
}
.hot {
	background-color: white;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.week { 
	padding: 10px;
	text-align: center;
}

.month { 
	padding: 10px;
	text-align: center;
}

.next {
	margin-top: 10px;
}

.description {
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
	text-align : justify;
}

#last {
	border-bottom: 0;
}

.viewSell {
	text-align : right;
}

.user {
	color: #006699;
	font-weight: bold;
}

.quickReply {
	position: fixed;
	right: 0;
	text-align: center;
	border : 1px solid #f1f1f1;
	width: 250px;
	background-color: black;
	color: white;
	border: 0;
	border-radius: 5px;
	visibility: hidden;
}

.formQuickReply {
//	text-align: left;
//	box-sizing: content-box;
	width: 230px;
}

.exitQuick {
	text-align: right;
}
