html {
	position: relative;
	min-height: 100%;
	min-width: 930px;
}

body {
	margin: 0 0 50px;
	font-size: 16px;
}

a {
	text-decoration: none;
}

header {
	background: black;
}

header a:link { color: white; }
header a:visited { color: white; }
header a:active { color: white; }
header a:hover { background-color: #505050; }

.title {
	display : inline-block;
	width: 20%;
	margin: auto;
	color: white;
	text-align: right;
}

nav {
	display : inline-block;
	width: 60%;
	margin: auto;
	text-align: right;
}

nav li {
	display: inline-block;
	margin-right: 30px;
	color: white;
}

nav ul {
	liste-style-type: none;
}

header input {
	border-color: black;
	background-image: url("search-icon.png");
	background-size:25px 15px;
	background-repeat: no-repeat;
	text-indent: 24px;
}

header form {
	display: inline-block;
}

.help {
	margin-top : 40px;
	margin-bottom: 0;
	border: 1px solid #f1f1f1;
}

section {
//	padding: 10px;
	width: 80%;
	margin: auto;
}

.sell {
	margin: 25px 0 25px 0;
}

footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
//	height: 40px;
	width: 100%;
	background: #696969;
	color: white;
}

.mainTable {
	font-size: 14px;
	border-spacing: 0;
}

.mainTd {
	border-bottom: 1px solid #f1f1f1;
	text-align : center;
	padding: 10px;
}

.hot {
	border: 1px solid #f1f1f1;
	border-bottom: 0;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.week { 
	border-bottom: 1px solid #f1f1f1;
	padding: 10px;
	text-align: center
}

.month { 
	border-bottom: 1px solid #f1f1f1;
	padding: 10px;
	text-align: center;
}

.next {
	margin-top: 10px;
}

.description {
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
	text-align : justify;
}

.viewSell {
	text-align : right;
}

.user {
	color: #6666ff;
	font-weight: bold;
}
